git+https://github.com/hunkim/streamlit-google-oauth
protobuf
streamlit
httpx-oauth
python-dotenv
typing_extensions
oauth2client
httplib2
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
